@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans;
  display: swap;
  src: url("../../public/fonts/IranSans/IRANSansMobile(FaNum).ttf");
}

html body * {
  font-family: IranSans !important;
}
